<nav class="navbar navbar-light fs-4" style="background-color: #e3f2fd;">
    <div class="container ">
        <a class="navbar-brand" routerLink="/main">
            <img src="https://res.cloudinary.com/duthqxswg/image/upload/q_auto:low/MilesEducationWebsite/MilesEducation_Logos/MilesEducation_Logo_New.png"
                alt="" width="155" height="64">
        </a>
        
        <div class="">
            <ul style="list-style-type: none;display: flex; ">
                <li style="padding: 0px 10px;" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Faculty
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" (click)="redirectTo('faculty/partTime')">Part Time</a></li>
                        <li><a class="dropdown-item" (click)="redirectTo('faculty/fullTime')">Full Time</a></li>
                    </ul>
                </li>
                <li style="padding: 0px 10px;" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Alumini
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" (click)="redirectTo('alumini/CPA')">CPA</a></li>
                        <li><a class="dropdown-item" (click)="redirectTo('alumini/CMA')">CMA</a></li>
                    </ul>
                </li>
                <li style="padding: 0px 10px;" class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Jobs
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" (click)="redirectTo('jobs/CPA')">CPA</a></li>
                        <li><a class="dropdown-item" (click)="redirectTo('jobs/CMA')">CMA</a></li>
                    </ul>
                </li>
                <li style="padding: 8px 10px; " class="nav-item text-primary" >
                    <a (click)="redirectTo('alumini/CMA/university')" role="button" aria-expanded="false">
                        University
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>